.active {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 767px) {
  .nav-link:first-child {
    padding: 0.5rem 1rem;
  }
  .navbar-brand {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .active {
    border-top: 1px solid black;
  }
}

.navbar {
  border-bottom: 1px solid #666;
  box-shadow: inset 0px -6px 5px rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.brand {
  font-size: 30px;
  font-family: "Acme";
}

.brand-logo {
  margin-top: -10px;
  margin-right: 15px;
}

.change-theme {
  font-size: 12px;
  border-radius: 5px;
}

a {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

a:hover {
  color: #45738b !important;
}
