body.dark {
  background-color: #222;
  color: #222;
}

body.dark h1 {
  color: #ddd;
}

body.dark p {
  color: #ddd;
}

body.dark a {
  color: #ddd;
}

body.dark a.nav-link {
  color: #222;
}

body.dark .card {
  background-color: #AAA;
}

body.dark .card li {
  background-color: #AAA;
}

body.dark label {
  color: #ddd;
}

body.dark input {
  color: #ddd;
  background-color: #AAA;
}

body.dark .card a, body.dark .card h1, body.dark .card h2, body.dark .card h3, body.dark .card h4, body.dark .card h5, body.dark .card h6, body.dark .card p {
  color: #222;
}

.card p {
  color: #222;
}

body.light {
  background-color: #ddd;
  color: #222;
}

body.light p {
  color: #222;
}

body.dark .navbar.navbar-light.bg-light {
  background-color: red;
}

.active {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 767px) {
  .nav-link:first-child {
    padding: 0.5rem 1rem;
  }
  .navbar-brand {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .active {
    border-top: 1px solid black;
  }
}

.navbar {
  border-bottom: 1px solid #666;
  box-shadow: inset 0px -6px 5px rgba(0, 0, 0, 0.7)
}

.brand {
  font-size: 30px;
  font-family: "Acme";
}

.brand-logo {
  margin-top: -10px;
  margin-right: 15px;
}

.change-theme {
  font-size: 12px;
  border-radius: 5px;
}

a {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

a:hover {
  color: #AAA;
}