body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container, .container-fluid {
  margin-top: 2rem;
}

.form-container h1 {
  text-align: center;
}

.form-login, .form-signup {
  margin: 0 auto;
  max-width: 700px;
}

.parent-card, .student-card {
  margin-bottom: 3rem;
}

.course-card {
  margin: 1rem;
}