.avatarCss {
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  border: 4px solid #fff;
}

.parent-info {
  margin: 0 auto;
  text-align: center;
  padding-top: 45px;
}

.parent-info-title {
  text-align: center;
  font-family: Acme;
  font-size: 30px;
  color: #213946;
  padding-top: 20px;
}
