.avatarCss {
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}

.cloud-img {
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;;
}

.parent-info {
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
}

.parent-info-title {
  
  font-family: Acme;
  font-size: 30px;
  color: #213946;
  padding-left: 40px;
}
