.footer {
  background-color: #2e4e5d;
  background-image: url(./footer-bg.jpg);
  background-size: cover;
  color: #ddd !important;
  padding: 45px 0px 45px 0px;
  font-size: 16px;
  box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4),
  inset 0px -4px 10px rgba(0,0,0,0.4);
  bottom: 0;
}

.footer-title {
  font-family: Acme;
  font-size: 24px;
  color: #ffc108 !important;
  padding-top: 25px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}

.footer-brand {
  text-align: center;
}

.footer-brand img {
  padding-bottom: 15px;
}

.footer-brand-title {
  font-family: Acme;
  font-size: 28px;
  color: #ddd !important;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.separator {
  height: 2px;
  background-color: #45738b;
  width: 100%;
  margin-bottom: 5px;
}

.copyright {
  font-size: 14px;
  color: #ddd !important;
}

.footer a {
  color: #152830;
  font-size: 16px;
}

.footer a:hover {
  color: #999 !important;
}
