.student-card-title {
  text-align: center;
  font-family: Acme;
  font-size: 30px;
  color: #213946;
}

.age-text {
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.drop-class-button {
  float: right;
  margin: -25px -5px 5px 5px;
}

.enrolled-course-title {
  margin: -20px 5px 10px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}